html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}
body{
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #D5F5E3;
}
h1{
    margin: 0 1rem;
    font-size: 5rem;
}
p{
    margin: 0 1rem;
}
#card{
    margin: 0 auto;
}
#shearchBand,#today,#nextprev{
    margin: 0 auto;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}
#shearchBand{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82E0AA ;
}
#today{
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #82E0AA ;
    color: white;
    font-size: 2rem;
}
#headToday,#containW{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#containW{
    font-weight: 300;
}
#temp{
    font-size: 5rem;
    font-weight: bold;
}
#description{
    text-align: center;
    font-size: 3rem;
    font-weight: 300;

}
#nextprev{
    height: 150px;
    display: flex;
    align-items: center;
    background-color: #82E0AA ;
    color: white;
}
#nextprev div{
    width: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nextprev img{
    max-width: 35px;
}